
UnityProject/UserSettings/Layouts/
UnityProject/UserSettings/Search.settings
UnityProject/UserSettings/Search.index

#Luban
Tools/Luban/
Tools/Luban.ClientServer/
Configs/.cache.meta
GenerateDatas/

#FileServer
Tools/FileServer/AssetRoot

UnityProject/ProjectSettings/CommonBurstAotSettings.json
UnityProject/ProjectSettings/BurstAotSettings_StandaloneWindows.json

#GameEventSourceGenerator
Tools/GameEventSourceGenerator/*/.idea
Tools/GameEventSourceGenerator/*/bin
Tools/GameEventSourceGenerator/*/obj

#openspec
openspec/